<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url 'cinema.jpg' %>)">
  <div class="container">
    <h1><%=@list.name %></h1>
    <p>What your favourite <%=@list.name %> movies..</p>
  </div>
</div>
